# Module: SQLite3 Assignments
## Lesson: SQLite3
### Assignment 1: Creating and Connecting to a Database

1. Write a Python function to create a new SQLite3 database named `test.db`.
2. Write a Python function to create a table named `employees` with columns `id` (integer), `name` (text), `age` (integer), and `department` (text) in the `test.db` database.

### Assignment 2: Inserting Data

1. Write a Python function to insert a new employee into the `employees` table.
2. Insert at least 5 different employees into the `employees` table.

### Assignment 3: Querying Data

1. Write a Python function to fetch and display all records from the `employees` table.
2. Write a Python function to fetch and display all employees from a specific department.

### Assignment 4: Updating Data

1. Write a Python function to update the department of an employee based on their `id`.
2. Update the department of at least 2 employees and display the updated records.

### Assignment 5: Deleting Data

1. Write a Python function to delete an employee from the `employees` table based on their `id`.
2. Delete at least 1 employee and display the remaining records.

### Assignment 6: Advanced Queries

1. Write a Python function to fetch and display employees older than a certain age.
2. Write a Python function to fetch and display employees whose names start with a specific letter.

### Assignment 7: Handling Transactions

1. Write a Python function to insert multiple employees into the `employees` table in a single transaction. Ensure that if any insertion fails, none of the insertions are committed.
2. Write a Python function to update the age of multiple employees in a single transaction. Ensure that if any update fails, none of the updates are committed.

### Assignment 8: Creating Relationships

1. Create a new table named `departments` with columns `id` (integer) and `name` (text).
2. Modify the `employees` table to include a foreign key referencing the `id` column in the `departments` table.
3. Write a Python function to insert data into both the `departments` and `employees` tables, ensuring referential integrity.

### Assignment 9: Indexing and Optimization

1. Create an index on the `name` column of the `employees` table.
2. Write a Python function to fetch and display all employees whose names start with a specific letter. Compare the performance with and without the index.

### Assignment 10: Backing Up and Restoring Data

1. Write a Python function to back up the `test.db` database to a file named `backup.db`.
2. Write a Python function to restore the `test.db` database from the `backup.db` file.

In [1]:
import sqlite3 as sq

In [2]:
## Connect to an sqllite database
connection =sq.connect('example.db')
connection

In [3]:
cursor =connection.cursor()

In [4]:
## Create a Table
cursor.execute('''
Create Table if Not Exists employees(
                    id Integer Primary Key,
                    name Varchar Not Null,
                    age INT,
                    department Varchar
)
''')

## commit the changes
connection.commit()

In [5]:
cursor.execute(
    '''
    Select * From  employees
    '''
)

In [6]:
## insert the data in sqllite3
cursor.execute("""
Insert into employees(name,age,department)
VALUES('KRISH',32,'DATA SCIENTIST')
""")

cursor.execute("""
Insert into employees(name,age,department)
VALUES('BOB',25,'DATA ANALYST')
""")

cursor.execute("""
Insert into employees(name,age,department)
VALUES('CHARLIE',39,'DATA ENGINEER')
""")

connection.commit()

In [7]:
## querying the  data from the table
cursor.execute('''
Select * from employees
''')
rows = cursor.fetchall()

## print the queried data
for ele in rows:
    print(ele)

(1, 'KRISH', 34, 'DATA SCIENTIST')
(3, 'CHARLIE', 39, 'DATA ENGINEER')
(4, 'KRISH', 32, 'DATA SCIENTIST')
(5, 'BOB', 25, 'DATA ANALYST')
(6, 'CHARLIE', 39, 'DATA ENGINEER')

In [8]:
## update the  data in the table
cursor.execute('''
UPDATE employees 
set  age = 34
where name = "KRISH"
''')

connection.commit()

In [9]:
## querying the  data from the table
cursor.execute('''
Select * from employees
''')
rows = cursor.fetchall()

## print the queried data
for ele in rows:
    print(ele)

(1, 'KRISH', 34, 'DATA SCIENTIST')
(3, 'CHARLIE', 39, 'DATA ENGINEER')
(4, 'KRISH', 34, 'DATA SCIENTIST')
(5, 'BOB', 25, 'DATA ANALYST')
(6, 'CHARLIE', 39, 'DATA ENGINEER')

In [10]:
## deleting the  data from the table
cursor.execute("""
Delete  from employees
where name = 'BOB'
""")
connection.commit()

In [11]:
## querying the  data from the table
cursor.execute('''
Select * from employees
''')
rows = cursor.fetchall()

## print the queried data
for ele in rows:
    print(ele)

(1, 'KRISH', 34, 'DATA SCIENTIST')
(3, 'CHARLIE', 39, 'DATA ENGINEER')
(4, 'KRISH', 34, 'DATA SCIENTIST')
(6, 'CHARLIE', 39, 'DATA ENGINEER')

In [12]:
## working with sales data
connection = sq.connect('sales_data.db')
cursor = connection.cursor()

## create a table for sales data
cursor.execute('''
CREATE TABLE IF NOT EXISTS sales(

id INTEGER PRIMARY KEY,
date TEXT NOT NULL,
product TEXT NOT  NULL,
sales INTEGER,
region TEXT

)
''')
sales_data = [
    ('2023-01-01','Product1',100,'North'),
    ('2023-01-02','Product2',100,'South'),
    ('2023-01-03','Product1',100,'East'),
    ('2023-01-04','Product3',100,'West'),
    ('2023-01-05','Product2',100,'North'),
]

cursor.executemany('''
Insert into sales(date,product,sales,region)
values(?,?,?,?)
''',sales_data)
connection.commit()

In [13]:
# close the connection 
connection.close()